/* 添加 CSS */
*{
  	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
img{
	width: 450px;
	height: 300px;
	/*padding:15px;*/
}

div{
	border: 1px solid grey;
}

h3{
	padding:0 0 0 15px;
	font-size: 20px;
}

.card{
	width: 480px;
	height: 750px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 10px 10px 0px 0px #CDCCD1;
}

.content{
	width: 450px;
	/*padding:0;*/
	/*margin:15px;*/
	padding:10px;
}

li > span{
	font-weight: bold;
}

.description{
	font-style: italic;
}